<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <ul class="nav menu">
        <li>&nbsp;</li>
        <li>
            <a class="w3-text-black cursor-pointer"
               href="{% url 'accounts:landing_page' %}" >
                <i class="fa fa-home w3-text-teal"></i>&nbsp;&nbsp; Home
            </a>
        </li>
        <li role="presentation" class="divider"></li>

        <li>
            <a class="w3-text-black cursor-pointer"
               href="{% url 'posts:post_results' %}" >
                <i class="fa fa-comment w3-text-blue"></i>&nbsp;&nbsp; Posts
            </a>
        </li>



    </ul>
</div>

